
<div class="card znak-kartica ">
  <div class="card-body">
    <h5 class="card-title" style="text-align:center">{{ znak }}</h5>

      <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dnevni</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mesecni</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Nedeljni</button>
        <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Godisnji</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

        <div class="card kartica-unutrasnja" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Dnevni</h5>
            <h6 class="card-subtitle mb-3 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>


      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">

        <div class="card kartica-unutrasnja" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Mesecni</h5>
            <h6 class="card-subtitle mb-3 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>


      </div>


      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

        <div class="card kartica-unutrasnja" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Nedeljni</h5>
            <h6 class="card-subtitle mb-3 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>


      <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">

        <div class="card kartica-unutrasnja" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Godisnji</h5>
            <h6 class="card-subtitle mb-3 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
