{% extends 'layout.html' %}

{% block body %}

<div class="card text-center kontejner">
  <div class="card-header">
    Horoskop
  </div>
  <div class="card-body">
    <h5 class="card-title naslovni-text">Dobro došli na Horoskop stranicu</h5>
<!--    <p class="card-text">Izaberi znak</p>-->

    <div class="row">

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="ovan" class="btn btn-light">
              <h5 class="card-title">Ovan</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/ovan.png') }}" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="bik" class="btn btn-light">
              <h5 class="card-title">Bik</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/bik.png') }}" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="blizanci" class="btn btn-light">
              <h5 class="card-title">Blizanci</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/blizanci.png') }}" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="rak" class="btn btn-light">
              <h5 class="card-title">Rak</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/rak.png') }}" />
            </a>
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="lav" class="btn btn-light">
              <h5 class="card-title">Lav</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/lav.png') }}" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="devica" class="btn btn-light">
              <h5 class="card-title">Devica</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/devica.png') }}" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="vaga" class="btn btn-light">
              <h5 class="card-title">Vaga</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/vaga.png') }}" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="skorpion" class="btn btn-light">
              <h5 class="card-title">Škorpija</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/skorpion.png') }}" />
            </a>
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="strelac" class="btn btn-light">
              <h5 class="card-title">Strelac</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/strelac.png') }}" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="jarac" class="btn btn-light">
              <h5 class="card-title">Jarac</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/jarac.png') }}" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="vodolija" class="btn btn-light">
              <h5 class="card-title">Vodolija</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/vodolija.png') }}" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-6">
        <div class="card">
          <div class="card-body">
            <a href="ribe" class="btn btn-light">
              <h5 class="card-title">Ribe</h5>
                <image class="slika-horoskop" src="{{ url_for('static', filename='img/ribe.png') }}" />
            </a>
          </div>
        </div>
      </div>

    </div>


  </div>
<!--  <div class="card-footer text-muted">-->
<!--    2 days ago-->
<!--  </div>-->
</div>

{% endblock %}