{% extends 'podznak_rezultat.html' %}


    {% block podznak_body %}
        <p>Tumacenje</p>
        <hr>
        <p>
            Ovaj Ascedent čini ljude, koji ga imaju u svom horoskopu, savršenim vođama. Mogu odlično da upravljaju i sobom i drugima i da predvode u mnogim akcijama i poslovima. Obožavaju nezavisnost i srećni su jedino kada je sve pod kontrolom. Očita je njihova želja da budu glavni u svemu i da se za sve pitaju. Ambiciozni su i preduzimljivi, a često i tvrdoglavi. Vrlo jasno i ljepo se izražavaju. Zainteresovani su, žustri i uzbudljivi. Poštuju naučno mišlljenje i skoro su filozofi. Ne gube lako hrabrost i imaju oštru i prodornu snagu volje. Najbolji su onda kada se traži brza akcija, odlučnost, izvršne aktivnosti i sposobnosti. Vladajuća planeta je Mars.
Fizički izgled: srednji rast, mršave građe, duguljastog lica i vrata, rumenog tena, široke glave, širokog čela. Često imaju beleg ili ožiljak na glavi ili licu. Guste trepavice, oštar pogled, oči sive ili sivkasto-braon. Kovrdžava ili talasasta kosa koja varira od tamne do svjetlosmeđe.
Mentalne sposobnosti: ambicija, aktivnost, energija, hrabrost, preduzimljivost, impulsivnost, ingenioznost.
        </p>


    {% endblock %}
