{% extends 'layout.html' %}


{% block body %}
  <div class="card znak-kartica ">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center">{% block ime %}{% endblock %}</h5>

        <nav class="znak-nav">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dnevni</button>

            <button class="nav-link " id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Nedeljni</button>

            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mesečni</button>

            <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="" aria-selected="false">Godišnji</button>


            <button class="nav-link" id="vise-o" data-bs-toggle="tab" data-bs-target="#vise-o-znaku" type="button" role="tab" aria-controls="" aria-selected="false">Više o znaku</button>
          </div>
        </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

          <div class="card kartica-unutrasnja" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Dnevni</h5>
              <h6 class="card-subtitle mb-3 text-muted">{% block datum %}{% endblock %}</h6>
              <p class="card-text"> {% block dnevni_text %}{% endblock %} </p>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <div class="card kartica-unutrasnja" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Nedeljni</h5>
              <h6 class="card-subtitle mb-3 text-muted">{% block datum_n %}{% endblock %}</h6>
              <p class="card-text">{% block nedeljni_text %}{% endblock %}</p>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
          <div class="card kartica-unutrasnja" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Mesečni</h5>
              <h6 class="card-subtitle mb-3 text-muted">{% block datum_m %}{% endblock %}</h6>
              <p class="card-text">{% block mesecni_text %}{% endblock %}</p>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
          <div class="card kartica-unutrasnja" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Godišnji</h5>
              <h6 class="card-subtitle mb-3 text-muted">{% block datum_g %}{% endblock %}</h6>
              <p class="card-text">{% block godisnji_text %}{% endblock %}</p>
            </div>
          </div>
        </div>



        <div class="tab-pane fade" id="vise-o-znaku" role="tabpanel" aria-labelledby="vise-o" tabindex="0">
          <div class="card kartica-unutrasnja" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Više o znaku {% block ime2 %} Ovan {% endblock %}</h5>
              <h6 class="card-subtitle mb-3 text-muted">{% block od_do %} Ovan {% endblock %}</h6>
              <p class="card-text">{% block karakteristike %}{% endblock %}</p>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
{% endblock %}